version: '3.8'

services:
  web:
    build:
      context: .
      target: dev
    ports:
      - "44321:4321"
    volumes:
      - ./src:/app
      - ./public:/public
      - /app/node_modules
    environment:
      CHOKIDAR_USEPOLLING: "true"
      WATCHPACK_POLLING: "true"
    command: npm run dev -- --host 0.0.0.0
